
<ol class="breadcrumb">
  <li><a routerLink="/">Home </a></li>
  <li class="active">{{restaurant.name}}</li>
</ol>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre del Platillo</th>
        <th>Descripcíon</th>
        <th>Precio</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let saucer of saucers">
          <td>{{saucer.name}}</td>
          <td>{{saucer.description}}</td>
          <td>$ {{saucer.price}}</td>
          <td> <a routerLink="/saucers/{{saucer.id}}/comments" class="btn btn-primary btn-xs">View comments</a> </td>
        </tr>
    </tbody>
</table>